# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Generated data (re-created by running prepare step)
data/federated/

# Generated model artifacts (re-created by training)
artifacts/
*.pth
*.pkl

# TensorBoard logs
experiments/runs/

# Frontend dependencies
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Logs
*.log
logs/
